{% extends 'base.html.twig' %}

{% block title "Recette: " ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}">


    <turbo-frame id="resipe_{{ recipe.id }}">
        {{ form(form, {action: path('admin.recipe.edit', {id: recipe.id, slug: recipe.slug}) }) }}
    </turbo-frame>
{% endblock %}
