{% extends 'base.html.twig' %}


{% block title %}
    qanaqadir title
{% endblock %}

{% block body %}

    <h1 class="text-center">Formani to'ldiring</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.email) }}</div>
        <div class="col-sm">{{ form_row(form.name) }}</div>
        <div class="col-sm">{{ form_row(form.service) }}</div>
    </div>
    {{ form_end(form) }}

{% endblock %}

