{% extends 'base.html.twig' %}

{% block title item.name %}

{% block body %}
    <h1>{{ item.name }}</h1>

    {#<img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}">#}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.UserCollection) }}



    {{ form_end(form) }}
{% endblock %}

